
html::-webkit-scrollbar {
  width: 0.5rem;
  background-color: var(--text-color);
}
:root {
  --main-color:#ff2c1f;
  --text-color:#020307;
  --bg-color:#fff;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--text-color);
  color: var(--bg-color);
}
/* Navbar */
header {
  background: var(--bg-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

header ul a:hover {
 transition: 0.5s linear;
  color: var(--main-color);
  text-decoration: underline var(--main-color) 3px solid  ; 

}
 header a  {
  color: var(--main-color);
 
}
header.shadow i{
  color: var(--main-color);
}


.btn:hover {
  background: #fa1216;
}
/* Navbar */
/* Home */

.btn:hover {
  background: #fa1216;
}
/* Home */

